<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alaska</key>
	<array>
		<string>Fairbanks</string>
		<string>College</string>
		<string>Sitka</string>
		<string>Kodiak</string>
		<string>Bethel</string>
		<string>Wasilla</string>
		<string>Sterling</string>
		<string>Valdez</string>
		<string>Soldotna</string>
		<string>Nome</string>
		<string>Petersburg</string>
	</array>
	<key>Alabama</key>
	<array>
		<string>Mobile</string>
		<string>Gadsden</string>
		<string>Hoover</string>
		<string>Madison</string>
		<string>Dothan</string>
		<string>Tuscaloosa</string>
		<string>Montgomery</string>
		<string>Huntsville</string>
		<string>Birmingham</string>
		<string>Auburn</string>
		<string>Decatur</string>
		<string>Florence</string>
	</array>
    <key>Arizona</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
    <key>Arkansas</key>
	<array>
        <string>Little Rock</string>
        <string>Fort Smith</string>
        <string>Fayetteville</string>
        <string>Springdale</string>
        <string>Jonesboro</string>
        <string>North Little Rock</string>
        <string>Conway</string>
	</array>
    <key>California</key>
	<array>
        <string>Los Angeles</string>
        <string>San Diego</string>
        <string>San Jose</string>
        <string>San Francisco</string>
        <string>Fresno</string>
        <string>Sacramento</string>
        <string>Long Beach</string>
        <string>Oakland</string>
        <string>Bakersfield</string>
        <string>Anaheim</string>
        <string>Santa Ana</string>
        <string>Riverside</string>
        <string>Stockton</string>
        <string>Chula Vista</string>
        <string>Emeryville</string>
	</array>
	<key>Colorado</key>
	<array>
        <string>Denver</string>
        <string>Colorado Springs</string>
        <string>Fort Collins</string>
        <string>Aurora</string>
        <string>Lakewood</string>
        <string>Thornton</string>
        <string>Westminster</string>
        <string>Pueblo</string>
        <string>Arvada</string>
        <string>Centennial</string>
	</array>
	<key>Connecticut</key>
	<array>
        <string>Bridgeport</string>
        <string>New Haven</string>
        <string>Hartford</string>
        <string>Stamford</string>
        <string>Waterbury</string>
        <string>Norwalk</string>
        <string>Danbury</string>
	</array>
	<key>Delaware</key>
	<array>
        <string>Wilmington</string>
        <string>Dover</string>
        <string>Newark</string>
        <string>Middletown</string>
        <string>Smyrna</string>
        <string>Milford</string>
        <string>Seaford</string>
	</array>
	<key>Florida</key>
	<array>
        <string>Jacksonville</string>
        <string>Miami</string>
        <string>Tampa</string>
        <string>St. Petersburg</string>
        <string>Orlando</string>
        <string>Hialeah</string>
        <string>Tallahassee</string>
        <string>Fort Lauderdale</string>
        <string>Port St. Lucie</string>
	</array>
	<key>Georgia</key>
	<array>
        <string>Allentown</string>
        <string>Bogart</string>
        <string>Cecil</string>
        <string>Cochran</string>
        <string>Dalton</string>
        <string>Enigma</string>
        <string>Flowery </string>
        <string>Jacksonville</string>
        <string>Atlanta</string>
	</array>
	<key>Hawaii</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Idaho</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Illinois</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Indiana</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Iowa</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Kansas</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Kentucky</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Louisiana</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Maine</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Maryland</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Massachusetts</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Michigan</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Minnesota</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Mississippi</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Missouri</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Montana</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Nebraska</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Nevada</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>New Hampshire</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>New Jersey</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>New Mexico</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>New York</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>North Carolina</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>North Dakota</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Ohio</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Oklahoma</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Oregon</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Pennsylvania</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Rhode Island</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>South Carolina</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>South Dakota</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Tennessee</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Texas</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Utah</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Vermont</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Virginia</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Washington</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>West Virginia</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Wisconsin</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
	<key>Wyoming</key>
	<array>
        <string>Phoenix</string>
        <string>Tucson</string>
        <string>Mesa</string>
        <string>Chandler</string>
        <string>Glendale</string>
        <string>Scottsdale</string>
        <string>Gilbert</string>
        <string>Tempe</string>
        <string>Peoria</string>
        <string>Surprise</string>
	</array>
</dict>
</plist>
